<h1>Frequently Asked Questions</h1>

<p>Are instructors qualified?
<br/>All our instructors have been verified through our detailed background check process.</p>

<p>How do I make a payment?
<br/>You will pay the instructor directly at the beginning of each session.</p>

<p>What happens after I place an order?
<br/>Once you place an order, our instructor will be notified and will contact you shortly.</p>

<p>How can I sign up to be a tutor?
<br/>You can submit your information <a href="/signup">here</a>. Once we review your credential, someone will contact you shortly.</p>
