<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td><%= line_item.listing.title %></td>
	<td class="item_price"><%= number_to_currency(line_item.listing.price) %></td>
</tr>